<!-- atomist:hide -->
<details>
<summary>Changelog for <code>{{imageName}}</code></summary>
<p>

Changelog is currently being compiled. Check back in a few seconds!

---

</p>
</details>
<!-- atomist:show -->
