[:find
 (pull
   ?repository
   [:schema/entity-type
    :docker.repository/host
    (:docker.repository/repository :as :docker.repository/name)])
 :in $ $before-db %
 :where
 (tx-schedule "transactSupportedTagsSchedule" _)
 [?repository :docker.repository/host "hub.docker.com"]
 [?repository :docker.repository/repository ?name]
 (not (string-match ?name "\\/" _))
 ]
