[:find
 (pull
   ?repository
   [:schema/entity-type
    :docker.repository/host
    (:docker.repository/repository :as :docker.repository/name)])
 :in $ $before-db % ?ctx
 :where
 (attributes-tx ?ctx :docker.image/digest ?image _)
 [?image :docker.image/repository ?repository]
 [?repository :docker.repository/host "hub.docker.com"]
 [?repository :docker.repository/repository ?name]
 (not (string-match ?name "\\/" _))
 ]
