[:find
 (pull
   ?commit
   [:schema/entity-type
    {:git.commit/repo [:git.repo/name
                       :git.repo/default-branch
                       {:git.repo/org [:github.org/installation-token
                                       :git.org/name
                                       (:git.org/provider-base-url
                                         :as
                                         :base-url)
                                       :git.provider/url]}]}
    {:git.commit/author [:git.user/name
                         :git.user/login
                         {:git.user/emails [:email.email/address]}]}
    :git.commit/sha
    :git.commit/message])
 (pull ?docker-file [:schema/entity-type
                     :docker.file/path
                     {(:docker.file.line/_file :as :lines) [:docker.file.line/number
                                                            :docker.file.line/instruction
                                                            :docker.file.line/args-map
                                                            :docker.file.line/args-array
                                                            :docker.file.line/args-string
                                                            :docker.file.from/tag
                                                            :docker.file.from/digest
                                                            {:docker.file.from/image [:docker.image/digest]}
                                                            {:docker.file.from/manifest-list [:docker.manifest-list/digest
                                                                                              :docker.manifest-list/tags]}
                                                            {:docker.file.from/repository [:docker.repository/host
                                                                                           (:docker.repository/repository
                                                                                             :as
                                                                                             :name)]}]}])
 :in $ $before-db %
 :where
 (tx-entity-attr-value :docker.file/commit ?docker-file ?commit)

 ;; check pinning is required
 (get-config-value "pinningRequired" true true)

 ;; check repo filter
 [?commit :git.commit/repo ?repo]
 (repo-selected? ?repo)
 ]
