;; Copyright © 2021 Atomist, Inc.
;;
;; Licensed under the Apache License, Version 2.0 (the "License");
;; you may not use this file except in compliance with the License.
;; You may obtain a copy of the License at
;;
;;     http://www.apache.org/licenses/LICENSE-2.0
;;
;; Unless required by applicable law or agreed to in writing, software
;; distributed under the License is distributed on an "AS IS" BASIS,
;; WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
;; See the License for the specific language governing permissions and
;; limitations under the License.

{:attributes
 {:base.image.from/update           {:db.entity/attrs [:base.image.from.update/sha]}
  :base.image.from.update/edits     {:db/valueType   :db.type/ref
                                     :db/cardinality :db.cardinality/many}
  :base.image.from.update/sha       {:db/valueType   :db.type/string
                                     :db/cardinality :db.cardinality/one}

  :base.image.from.update/edit      {:db.entity/attrs [:schema/random-guid]}
  :base.image.from.update.edit/path {:db/valueType   :db.type/string
                                     :db/cardinality :db.cardinality/one}
  :base.image.from.update.edit/from {:db/valueType   :db.type/string
                                     :db/cardinality :db.cardinality/one}
  :base.image.from.update.edit/to   {:db/valueType   :db.type/string
                                     :db/cardinality :db.cardinality/one}
  }
 }
